<h3>Vegetable List</h3>
<app-msgbox *ngIf="!err && !veg">
    <strong>loading ...please wait ...</strong>
</app-msgbox>

<app-msgbox *ngIf="err" [isError]="true">
    <strong>{{ err }}</strong>
</app-msgbox>




<table class="table table-bordered table-hover" *ngIf="veg">
    <thead>
        <tr>
            <th>Veg ID</th>
            <th> Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
           <th>Action</th>
          
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of veg">
            <td>{{ e.vegId }} </td> 
            <td>{{ e.name }} </td>
            <td>{{ e.type}} </td>
            <td>{{ e.price }} </td>
            <td>{{ e.quantity}} </td>
<td><a class="btn btn-sm btn-info" routerLink="/cart/add" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</a><br></td>
           
          
        </tr>
    </tbody>
</table>



