<h3>Cart Details Of all Customer</h3>  
<app-msgbox *ngIf="!err && !cart">
    <strong>Loading ...Please Wait ...</strong>
</app-msgbox>

<app-msgbox *ngIf="err" [isError]="true">
    <strong>{{ err }}</strong>
</app-msgbox>



<table class="table table-bordered table-hover" *ngIf="cart">
    <thead>
        <tr>
    <th>Cart Id </th>
	<th>Customer Id</th> 
	<th>Vegetable Id</th> 
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
  </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of cart">
            <td>{{ e.cartId }} </td>
            <td>{{ e.customerId }} </td>
            <td>{{ e.vegId}} </td>
            <td><a class="btn btn-sm btn-success" routerLink="/dashboard/order1" ><i class="fa fa-check" aria-hidden="true"></i> Order Now</a><br></td>
     


          <td><button class="btn btn-sm btn-danger" (click)="delete(e.cartId)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></td>
            <td><a class="btn btn-sm btn-info" routerLink="/cart/edit/{{e.cartId}}"> <i class="fa fa-spinner" aria-hidden="true"></i> Update</a></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-sm btn-info"  routerLink="/dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</a>



